:root {
    --main-color: #2F6E5B;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
}


/* BODY */
.portal__body {
    display: flex;
    flex-direction: column;
    width: 1265px;
    padding: 0 50px;
    margin: 0 auto;
}
/* HEADER */
.portal__header {
    display: flex;
    flex-direction: column;
    padding: 0 0 25px 0;
}

.portal__banner {
    height: 200px;
    width: 100%;
}
.portal-banner__inner {
    display: flex;
    align-items:center;
    width: 100%;
    height: 100%;
    /* box-shadow: inset 0px 0px 400px 110px #1f6e5b88; */
    background-repeat: no-repeat;
    background-size: cover;

}
.portal-banner__inner span {
    color: #fff;
    font-size: 42px;
}
.portal__header--top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 15px 15px;
}
/* HEADER SOCIAL*/
.portal-social__list {
    display: flex;
    gap: 15px;
}
/* HEADER SEARCH*/
.portal-search {
    margin-left: auto;
}
.portal-search label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.portal-search input{
    position: absolute;
    right: 0%;
    z-index: 0;
    opacity: 0;
    width: 0;
    transition: left .5s ease-in-out;
    padding: 8px 16px;
    font-size: 20px;
    max-width: 270px;
    border: none !important;
    border-bottom: 1px solid var(--main-color) !important;
    color: var(--main-color);
    border-radius: 0;
}
.portal-search input::placeholder {
    color: var(--main-color);
}
.portal-search input.search-input--active {
    right: 100%;
    width: 250px;
    line-height: unset;
    opacity: 1;
    transition: left .5s ease-in-out;
    z-index: 1;
}
.portal-search svg {
    width: 30px;
    cursor: pointer;
    z-index: 1;
}
.portal-search svg path {
    fill: var(--main-color);
}

/* HEADER CALENDAR*/


.portal-toCalendar {
    background: var(--main-color);
    cursor: pointer;
}
.portal-toCalendar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    gap: 15px;
    color: #fff;
    outline: 1px solid;
    font-size: 20px;
}
.portal-toCalendar span {
    color: #fff;
    font-size: 16px;
}

/* HEADER NAV*/
.portal__header--nav {
    padding: 15px 15px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
}

.portal-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px
}
.portal-nav__list a {
    font-size: 20px;
    color: #363636
}
.portal-nav__list a:hover {
    color: var(--main-color);
}
.portal-nav__item--active a{
    color: var(--main-color);
}
/* INNER */
.portal__inner {
    display: flex;
    flex-direction: row;
    gap: 30px;
}



/* SIDEBAR */

.portal__sidebar {
    max-width: 300px;
    width: 100%;
}
.portal-sidebar__block {
    margin-bottom: 40px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.portal__sidebar h3 {
    margin-bottom: 15px;
    padding: 5px 0;
    background: var(--main-color);
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
/* SIDEBAR CATEGORY */
.portal-sidebar-category__list  {
    display: flex;
    flex-direction: column;
}
.portal-sidebar-category__list a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    color: var(--main-color);
}
.portal-sidebar-category__list a:hover svg  {
    opacity: 1;
}
.portal-sidebar-category__list a svg {
    transform: rotate(180deg);
    width: 25px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.portal-sidebar-category__list .sub-menu {
    margin-left: 25px;
}
.portal-sidebar-category__item {
    /* outline: 1px solid; */
    margin: 5px 0;
}


/* SIDEBAR QUESTION */

.portal-sidebar-question__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.portal-sidebar-question__form input {
    padding: 8px 16px;
    font-size: 20px;

    background: transparent;
    border: none !important;
    border-bottom: 1px solid var(--main-color) !important;
    width: 100%;
    color: var(--main-color);
    border-radius: 0;
}
.portal-sidebar-question__form input::placeholder,
.portal-sidebar-question__form textarea::placeholder {
    color: var(--main-color);
}
.portal-sidebar-question__form textarea {
    padding: 8px 16px;
    font-size: 20px;
    max-width: 270px;
    border: none !important;
    border-bottom: 1px solid var(--main-color) !important;
    width: max-content;
    color: var(--main-color);
    border-radius: 0;
}
.portal-sidebar-question__form input[type=submit] {
    cursor: pointer;
    border: none;
    outline: 1px solid;
}
.portal-sidebar-question__form input[type=submit]:hover {
    color: #fff;
    background: var(--main-color);
    transition: .4s ease-in-out;
}



.portal-sidebar-question__form textarea::-webkit-scrollbar {
    width: 8px;
}
.portal-sidebar-question__form textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(var(--main-color),0.3);
}
.portal-sidebar-question__form textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--main-color);
    -webkit-box-shadow: 0 0 1px var(--main-color);
}


/* SIDEBAR GERB */
.portal-sidebar__coat {
    display: flex;
    flex-direction: column;
}
.portal-sidebar__coat a {
    display: block;
    align-self: baseline;
    text-align: center;
    margin: 0 auto;
}

/* CONTENT */
.portal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
.portal__excerpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.portal__excerpt h2 {
    font-weight: 500;
    color: var(--main-color);
    font-size: 42px;
}
.portal__excerpt p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: var(--main-color);
}

/* ОБЩАЯ */

.portal-title__block h3{
    color: var(--main-color);
    text-align: center;
    font-size: 32px;
}


.potrla-backdrop-filter::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(2em);
    background: rgba(255, 255, 255, 0.2);
    transition: backdrop-filter .1s ease-in-out;

}
.potrla-backdrop-filter:hover::after {
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    transition: backdrop-filter .3s ease-in-out;
}





/* CONTENT LAST ARICLES*/
.portal__last-articles {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
}
.last-articles__row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.last-articles__row:first-child .article-item:last-child {
    width: 75%;
}
.last-articles__row:last-child .article-item:first-child {
    width: 100%;
}
.last-articles__item.article-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 290px;
    padding: 60px 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 90%);
    background-repeat: no-repeat;
    background-size: cover;
}
.last-articles__item .article-item__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 15px;
    background:  rgba(47, 110, 91, 0.4);
    z-index: 2;

}
.last-articles__item .article-item__category {
    margin-left: auto;
}
.last-articles__item .article-item__info {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 15px;
}
.last-articles__item .article-item__category a{
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #fff;
}
.last-articles__item .article-item__title a{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}
.last-articles__item .article-item__info a{
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #fff;
}
.last-articles__item .portal__read-more {
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 5;
}
.last-articles__item .portal__read-more a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    background:  rgba(47, 110, 91, 0.8);
    cursor: pointer;
    z-index: 5;
}


/* CONTENT ALL ARICLES*/
.portal__all-articles {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 25px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
}
.all-articles__row {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 -15px 0 0;
}
.all-articles__item.article-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(50% - 15px);
    height: 300px;
    padding: 100px 0;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 90%);
    background-repeat: no-repeat;
    background-size: cover;
}
.all-articles__item .article-item__body {
    color: var(--main-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 15px;
    background:  rgba(255, 255, 255, .7);
    z-index: 2;
}
.all-articles__item .article-item__category {
    margin: unset;
}
.all-articles__item .article-item__category a {
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
}
.all-articles__item .article-item__title a {
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
}

/* PAGINATION */
.all-articles__pagination {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 15px auto;
}
.all-articles__pagination span{
    color: var(--main-color);
    font-size: 26px;
    cursor: pointer;
}

/* CONTENT NEWS SLIDER */
.portal__news-slider {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 25px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
}
.news-slider__inner {
    display: flex;
    flex-direction: row;
    flex: 0;
    gap: 15px;
}
.news-slider__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 15px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 90%);

}
.slider-item__image {
    position: relative;
    width: 100%;
}
.slider-item__image img {
    display: flex;
    object-fit: contain;
    width: 100%;
}
.slider-item__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.slider-item .article-item__category a {
    font-size: 16px;
    color: var(--main-color);
}
.slider-item .article-item__title a {
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
}

/* CONTENT ARROWS */
.news-slider__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.news-slider__arrows span {
    display: flex;
    align-items: flex-start;
}
.news-slider__arrows svg {
    width: 50px;
    cursor: pointer;
}
.news-slider__arrows--prev svg{
    transform: rotate(180deg);
}
